#heading{
    font-variant: small-caps;
    width: 100%;
    font-size: 23px;
    margin-top: 0px;
}
body{
    background-image: linear-gradient(rgb(84, 206, 47), rgb(47, 145, 52), rgb(9, 75, 18), rgb(1, 44, 0));

}
canvas{
    animation-name: abcdefg;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    }
    
    @keyframes abcdefg{
        from{box-shadow: 1px 1px 30px rgb(118, 96, 180);}
        to{box-shadow: 1px 1px 30px rgb(221, 22, 195);}
    }

.back{
    margin-left: 300px;
}