
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
background-color: rgb(44, 180, 56);
}

#dog, #ball, #airport, #school{
    width: 500px;
    color: white;
    border: 1px 1px 1px red;
    border-radius: 30px;
}
#status
{
font-size: 18px;
}
body{
    background-image: linear-gradient(rgb(47, 195, 206), rgb(25, 111, 151), rgb(22, 49, 126), rgb(103, 28, 133));

}
canvas{
animation-name: abcdefg;
animation-iteration-count: infinite;
animation-duration: 5s;
}

@keyframes abcdefg{
    from{box-shadow: 1px 1px 30px blue;}
    to{box-shadow: 1px 1px 30px darkgreen;}
}
